---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h1>Data Informed Baseball</h1>
        <p>Learn the skills needed to be a baseball analyst.  Batteries Included.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ "/docs/introduction/" | prepend: site.baseurl }}" role="button">Learn More</a></p>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2 class="header-light regular-pad text-center">Launching Soon!</h2>
            <blockquote style="border-right: 5px solid #eeeeee; border-left: 0px">
              <p>The modern game of baseball is deeply informed by data.
              However, the steep learning curve limits how many fans can engage with the new science of sports data science.</p>
              <p>Project Baseball provides the data, servers, and coursework.  You commit the time to practice.
                You can also connect your fantasy team for fun and profit,
                all while learning valuable data skills.</p>
              <p><a href="/docs/motivations">Read more about why we're doing this</a></p>
            </blockquote>
        </div>
        <div class="col-md-6 text-center">
            <h2 class="header-light regular-pad text-center">Try It Out</h2>
            <blockquote style="border-left: 0px;">
                <p style="text-align: left">Baseball-Reference.org (bWAR) and fangraphs.com (fWAR) calculate their WAR values differently.
                See how easy it is to calculate the difference in SQL.  Check the examples below -- do the awards races look different on one site than another?
              {% include tryitout.html %}
            </blockquote>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-database" aria-hidden="true"></i></h1>
            <h3 class="text-center">Data? Check.</h3>
            <p>
              Our army of data bots will automatically acquire and process data, letting you focus on the baseball analysis.  Connect your Yahoo account, and we'll pull in your league data.
              We'll do the boring work so you can analyze your fantasy league for fun and profit.
            </p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-play" aria-hidden="true"></i></h1>
            <h3 class="text-center">No Setup Needed</h3>
            <p>We've set up the servers and grabbed the data.  You just need to learn and practice.
              The boring, complex work of ETL, data modeling, and infrastructure is all taken care of.
              You'll be running your first baseball analysis in 10 minutes.</p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-arrows-alt" aria-hidden="true"></i></h1>
            <h3 class="text-center">Publish Your Results</h3>
            <p>See immediate progress when your code returns results in the first 10 minutes.
                Then easily publish your results to our <a href="https://hub.projectbaseball.org/leaderboards/top">leaderboards</a> to build your portfolio and share your work.</p>
        </div>
    </div>

    <hr>


    <div class="row">
        <div class="col-md-12 text-center">
          {% include mc_signup.html %}
        </div>
    </div>


</div>
