---
layout: default
---

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="well">
                <h4>ARTICLES</h4>
                <ul class="list-unstyled post-list-container">
                    <li><a href="/guts/list-of-baseball-data-sources">List of Baseball Data Sources</a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            <div  id="markdown-content-container">{{ content }}</div>
            <hr>
        </div>
    </div>
</div>
